<?xml version="1.0"?>
<config>
    <modules>
        <Algolia_Algoliasearch>
            <version>0.1.0</version>
        </Algolia_Algoliasearch>
    </modules>
    <frontend>
        <layout>
            <updates>
                <algoliasearch>
                    <file>algoliasearch.xml</file>
                </algoliasearch>
            </updates>
        </layout>
        <events>
            <controller_action_layout_load_before>
                <observers>
                    <algolia_search>
                        <type>singleton</type>
                        <class>algoliasearch/observer</class>
                        <method>useAlgoliaSearchPopup</method>
                    </algolia_search>
                </observers>
            </controller_action_layout_load_before>
        </events>
    </frontend>
    <global>
        <helpers>
            <algoliasearch>
                <class>Algolia_Algoliasearch_Helper</class>
            </algoliasearch>
        </helpers>
        <blocks>
            <algoliasearch>
                <class>Algolia_Algoliasearch_Block</class>
            </algoliasearch>
        </blocks>
        <models>
            <algoliasearch>
                <class>Algolia_Algoliasearch_Model</class>
                <resourceModel>algoliasearch_resource</resourceModel>
            </algoliasearch>
            <algoliasearch_resource>
                <class>Algolia_Algoliasearch_Model_Resource</class>
                <entities>
                    <queue>
                        <table>algoliasearch_queue</table>
                    </queue>
                </entities>
            </algoliasearch_resource>
            <catalogsearch_mysql4>
                <rewrite>
                    <fulltext>Algolia_Algoliasearch_Model_Mysql4_Fulltext</fulltext>
                </rewrite>
            </catalogsearch_mysql4>
            <catalogsearch_resource>
                <rewrite>
                    <fulltext>Algolia_Algoliasearch_Model_Resource_Fulltext</fulltext>
                </rewrite>
            </catalogsearch_resource>
        </models>
        <events>

        </events>
        <resources>
            <algoliasearch_setup>
                <setup>
                    <module>Algolia_Algoliasearch</module>
                </setup>
            </algoliasearch_setup>
        </resources>
        <index>
            <indexer>
                <algolia_search_indexer>
                    <model>algoliasearch/indexer_algolia</model>
                </algolia_search_indexer>
            </indexer>
        </index>
    </global>
    <crontab>
        <jobs>
            <algoliasearch_run_queue>
                <schedule>
                    <cron_expr>* * * * *</cron_expr>
                </schedule>
                <run>
                    <model>algoliasearch/queue::runCron</model>
                </run>
            </algoliasearch_run_queue>
        </jobs>
    </crontab>
    <default>
        <algoliasearch>
            <settings>
                <is_enabled>0</is_enabled>
                <is_popup_enabled>0</is_popup_enabled>
                <application_id backend_model="adminhtml/system_config_backend_encrypted" />
                <api_key backend_model="adminhtml/system_config_backend_encrypted" />
                <search_only_api_key backend_model="adminhtml/system_config_backend_encrypted" />
                <index_prefix />
            </settings>
            <ui>
                <number_suggestions>5</number_suggestions>
                <minimal_query_length>2</minimal_query_length>
                <search_delay>100</search_delay>
            </ui>
            <queue>
                <active>1</active>
                <retries>3</retries>
            </queue>
        </algoliasearch>
    </default>
</config> 
