<?xml version="1.0"?>
<config>
    <tabs>
        <algoliasearch translate="label" module="algoliasearch">
            <label>Algolia Search</label>
            <sort_order>200</sort_order>
        </algoliasearch>
    </tabs>
    <sections>
        <algoliasearch translate="label" module="algoliasearch">
            <label>Configuration</label>
            <tab>algoliasearch</tab>
            <frontend_type>text</frontend_type>
            <sort_order>100</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <settings translate="label">
                    <label>Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <is_enabled translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </is_enabled>
                        <application_id translate="label">
                            <label>APPLICATION_ID</label>
                            <frontend_type>obscure</frontend_type>
                            <backend_model>adminhtml/system_config_backend_encrypted</backend_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </application_id>
                        <api_key translate="label">
                            <label>API_KEY</label>
                            <frontend_type>obscure</frontend_type>
                            <backend_model>adminhtml/system_config_backend_encrypted</backend_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </api_key>
                        <search_only_api_key translate="label">
                            <label>Search-only API_KEY (public)</label>
                            <frontend_type>obscure</frontend_type>
                            <backend_model>adminhtml/system_config_backend_encrypted</backend_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </search_only_api_key>
                        <index_prefix translate="label">
                            <label>Index name prefix</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </index_prefix>
                        <product_attributes_to_index translate="label comment">
                            <label>Product Attributes To Index</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>algoliasearch/system_config_source_product_attributesToIndex</source_model>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Additional attributes to be indexed. Product name, categories and description attributes are predefined and cannot be changed.</comment>
                        </product_attributes_to_index>
                        <product_attributes_to_retrieve translate="label comment">
                            <label>Attributes To Retrieve</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>algoliasearch/system_config_source_product_attributesToRetrieve</source_model>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>The list of attributes to retrieve in a search result. Category name, path, url, image url and products count attributes are predefined and cannot be changed.</comment>
                        </product_attributes_to_retrieve>
                    </fields>
                </settings>
                <ui translate="label">
                    <label>UI</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>20</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <number_suggestions_product translate="label">
                            <label>Number of product suggestions</label>
                            <frontend_type>text</frontend_type>
                            <validate>validate-digits</validate>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </number_suggestions_product>
                        <number_suggestions_category translate="label">
                            <label>Number of category suggestions</label>
                            <frontend_type>text</frontend_type>
                            <validate>validate-digits</validate>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </number_suggestions_category>
                        <minimal_query_length translate="label">
                            <label>Minimal query length</label>
                            <frontend_type>text</frontend_type>
                            <validate>validate-digits</validate>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </minimal_query_length>
                        <search_delay translate="label comment">
                            <label>Search Delay</label>
                            <frontend_type>text</frontend_type>
                            <validate>validate-digits</validate>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Delay in milliseconds before a query is submitted to avoid excessive queries. Default value is 100 milliseconds.</comment>
                        </search_delay>
                    </fields>
                </ui>
            </groups>
        </algoliasearch>
    </sections>
</config>
