<?xml version="1.0"?>
<config>
    <sections>
        <algoliasearch translate="label" module="algoliasearch">
            <label>
                <![CDATA[
                Algolia Search
                <style>
                    .algoliasearch-admin-menu span {
                        padding-left: 38px !important;
                        background: url("/skin/frontend/base/default/algoliasearch/algolia-admin-menu.png") 20px 4px no-repeat !important;
                        border-bottom: 1px dotted #636363;
                    }
                    .algoliasearch-admin-menu.active span {
                        background: white url("/skin/frontend/base/default/algoliasearch/algolia-admin-menu.png") 20px 4px no-repeat !important;
                        border-bottom: none;
                    }
                </style>
                ]]>
            </label>
            <class>algoliasearch-admin-menu</class>
            <tab>catalog</tab>
            <frontend_type>text</frontend_type>
            <sort_order>52</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <expanded>1</expanded>
            <groups>
                <credentials translate="label">
                    <label>Credentials &amp; Setup</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <expanded>1</expanded>
                    <fields>
                        <application_id translate="label">
                            <label>Application ID</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Your Application ID, which can be found in the Credentials section of your Algolia account.</comment>
                        </application_id>
                        <api_key translate="label">
                            <label>Admin API key</label>
                            <frontend_type>password</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Your administration API key (kept private)</comment>
                        </api_key>
                        <search_only_api_key translate="label">
                            <label>Search-only (public) API key</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>A search-only API key (will be included in the public JavaScript code)</comment>
                        </search_only_api_key>
                        <index_prefix translate="label">
                            <label>Index Name Prefix</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>If configured, all indices created by the Algolia search extension will be prefixed by this value.</comment>
                        </index_prefix>
                        <is_popup_enabled translate="label comment">
                            <label>Enable Auto-completion Menu</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>
                                <![CDATA[
                                If set to Yes, the seach box will display a search-as-you-type drop-down menu. It requires your theme to expose a <code>top.search</code> template.
                                ]]>
                            </comment>
                        </is_popup_enabled>
                        <is_instant_enabled translate="label comment">
                            <label>Enable Instant Search Results Page</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>
                                <![CDATA[
                                If set to Yes, the products inside the results pages will be searchable the refined results updated as-you-type. It requires your theme to expose a <code>top.search</code> template.
                                ]]>
                            </comment>
                        </is_instant_enabled>
                    </fields>
                </credentials>
                <products translate="label">
                    <label>Product Search Configuration</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>30</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <expanded>1</expanded>
                    <fields>
                        <product_additional_attributes translate="label comment">
                            <label>Attributes</label>
                            <frontend_model>algoliasearch/system_config_form_field_customsortorderproduct</frontend_model>
                            <backend_model>adminhtml/system_config_backend_serialized_array</backend_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>
                                <![CDATA[
                                Choose here the product attributes your users can search on, the ones you want to use as filters and sorts options and the ones required to display the search results. The order of the searchable attributes matters: a query matching the first searchable attribute of a product will put this product before the others in the results. Chose "Ordered" if you want the position of the matching word(s) inside the attribute to matter. A match at the beginning of an attribute will be considered more important: for the query "iPhone", "iPhone 5s" will be ranked before "case for iPhone".<br />
                                <span style="color: #D83900">&#9888;</span> Do not forget to reindex your Algolia Search index after you've modified this panel.
                                ]]>
                            </comment>
                        </product_additional_attributes>
                        <custom_ranking_product_attributes translate="label comment">
                            <label>Ranking</label>
                            <frontend_model>algoliasearch/system_config_form_field_customrankingproduct</frontend_model>
                            <backend_model>adminhtml/system_config_backend_serialized_array</backend_model>
                            <sort_order>12</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>
                                <![CDATA[
                                Configure here the attributes that reflect the popularity of your product (number of orders, number of likes, number of views, ...).<br />
                                <span style="color: #D83900">&#9888;</span> All attributes used here must be have been initially included in the Attributes configuration panel.
                                ]]>
                            </comment>
                        </custom_ranking_product_attributes>
                    </fields>
                </products>
                <instant>
                    <label>Instant Search Results Page Configuration</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>31</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <expanded>1</expanded>
                    <fields>
                        <instant_selector translate="label comment">
                            <label>DOM Selector</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>The DOM selector used to inject the results using JavaScript.</comment>
                        </instant_selector>
                        <facets>
                            <label>Facets</label>
                            <frontend_model>algoliasearch/system_config_form_field_facets</frontend_model>
                            <backend_model>adminhtml/system_config_backend_serialized_array</backend_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Configure here the filtering options you want to display on your search results page. Choose Disjunctive to allow the selection of different values of a facet (e.g. hotels with 4 OR 5 stars). Choose Conjunctive to allow the selection of only one value of a facet (e.g. only "Size M").</comment>
                        </facets>
                        <sorts>
                            <label>Sorts</label>
                            <frontend_model>algoliasearch/system_config_form_field_sorts</frontend_model>
                            <backend_model>adminhtml/system_config_backend_serialized_array</backend_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Configure here the different sorting options you want to offer.</comment>
                        </sorts>
                        <replace_categories translate="label comment">
                            <label>Replace categories page</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Choose here if you want the default Magento category pages to be replaced by an instant-search results page when a category is selected either in the menu of categories or in the drop-down menu.</comment>
                        </replace_categories>
                    </fields>
                </instant>
                <categories translate="label">
                    <label>Category Search Configuration</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>40</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <expanded>1</expanded>
                    <fields>
                        <category_additional_attributes2 translate="label comment">
                            <label>Attributes</label>
                            <frontend_model>algoliasearch/system_config_form_field_customsortordercategory</frontend_model>
                            <backend_model>adminhtml/system_config_backend_serialized_array</backend_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>
                                <![CDATA[
                                Configure here the category attributes your users can search on. The order of these attributes matters: the higher in the list, the more important to rank the results.<br />
                                <span style="color: #D83900">&#9888;</span> Do not forget to reindex your Algolia Search index after you've modified this panel.
                                ]]>
                            </comment>
                        </category_additional_attributes2>
                        <custom_ranking_category_attributes translate="label comment">
                            <label>Ranking</label>
                            <frontend_model>algoliasearch/system_config_form_field_customrankingcategory</frontend_model>
                            <backend_model>adminhtml/system_config_backend_serialized_array</backend_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>
                                <![CDATA[
                                Choose here the attributes that reflect the popularity of your categories (number of products, total number of sales of the category,etc.).<br />
                                <span style="color: #D83900">&#9888;</span> All attributes used here must be have been included before in the Attributes chart.
                                ]]>
                            </comment>
                        </custom_ranking_category_attributes>
                    </fields>
                </categories>
                <pages>
                    <label>Page Search Configuration</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>45</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <expanded>1</expanded>
                    <fields>
                        <excluded_pages translate="label comment">
                            <label>Excluded Pages</label>
                            <frontend_model>algoliasearch/system_config_form_field_custompages</frontend_model>
                            <backend_model>adminhtml/system_config_backend_serialized_array</backend_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>
                                <![CDATA[
                                Configure here the pages you don't want to search in.<br /n>
                                <span style="color: #D83900">&#9888;</span> Do not forget to reindex your Algolia Search Pages index whenever you modify this setting.
                                ]]>
                            </comment>
                        </excluded_pages>
                    </fields>
                </pages>
                <suggestions>
                    <label>Query Suggestions Configuration</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>46</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <expanded>1</expanded>
                    <fields>
                        <min_popularity translate="label comment">
                            <label>Min popularity</label>
                            <frontend_type>text</frontend_type>
                            <validate>validate-digits</validate>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>The min number of times a query has been performed in order to be suggested. Default value is 4.</comment>
                        </min_popularity>
                        <min_number_of_results translate="label comment">
                            <label>Min number of products</label>
                            <frontend_type>text</frontend_type>
                            <validate>validate-digits</validate>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>The min number of results a query needs to return to be suggested. Default value is 2.</comment>
                            <comment>
                                <![CDATA[
                                <span style="color: #D83900">&#9888;</span> Updating your suggested queries requires that you reindex your Algolia Search Suggestions index.
                                ]]>
                            </comment>
                        </min_number_of_results>
                    </fields>
                </suggestions>
                <relevance translate="label">
                    <label>Query Expansion Settings</label>
                    <frontend_type>text</frontend_type>
                    <expanded>1</expanded>
                    <sort_order>50</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <remove_words_if_no_result translate="label comment">
                            <label>Remove Words If No Result?</label>
                            <frontend_type>select</frontend_type>
                            <source_model>algoliasearch/system_removewords</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Optional property to avoid empty result pages.<br/>
                             By default, Algolia performs "AND" queries, which can lead to no results pages when queries are too long or too detailed. To avoid this, you can select among the following options:<br/>
                             LastWords: when a query does not return any result, the last word will be considered as optional and the query will be automatically performed again (the process is repeated with the n-1 word, n-2 word, ... until there is results).<br/>
                             FirstWords: when a query does not return any result, the first word will be considered as optional and the query will be automatically performed again (the process is repeated with the second word, third word, ... until there is results).<br/>
                             allOptional: when a query does not return any result, all words will be optional.<br/>
                             None: No specific processing is done when a query does not return any result. <br/>]]></comment>
                        </remove_words_if_no_result>
                    </fields>
                </relevance>
                <ui translate="label">
                    <label>UI/UX</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>60</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <expanded>1</expanded>
                    <fields>
                        <number_product_suggestions translate="label comment">
                            <label>Number of product suggestions</label>
                            <frontend_type>text</frontend_type>
                            <validate>validate-digits</validate>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>The number of product results displayed in the drop-down menu. Default value is 3. Set the value to 0 if you do not want to display the products section in the menu.</comment>
                        </number_product_suggestions>
                        <number_product_results translate="label comment">
                            <label>Number of products per page</label>
                            <frontend_type>text</frontend_type>
                            <validate>validate-digits</validate>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>The number of products displayed on the search results page. Default value is 9.</comment>
                        </number_product_results>
                        <number_category_suggestions translate="label comment">
                            <label>Number of category suggestions</label>
                            <frontend_type>text</frontend_type>
                            <validate>validate-digits</validate>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>The number of category results displayed in the drop-down menu. Default value is 5. Set the value to 0 if you do not want to display the categories section in the menu.</comment>
                        </number_category_suggestions>
                        <number_page_suggestions translate="label comment">
                            <label>Number of page suggestions</label>
                            <frontend_type>text</frontend_type>
                            <validate>validate-digits</validate>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>The number of page suggestions displayed in the drop-down menu. Default value is 3. Set the value to 0 if you do not want to display the pages section in the menu.</comment>
                        </number_page_suggestions>
                        <number_query_suggestions translate="label comment">
                            <label>Number of query suggestions</label>
                            <frontend_type>text</frontend_type>
                            <validate>validate-digits</validate>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>The number of query suggestions displayed in the drop-down menu. Default value is 0.</comment>
                        </number_query_suggestions>
                        <max_values_per_facet translate="label comment">
                            <label>Number of values per facet</label>
                            <frontend_type>text</frontend_type>
                            <validate>validate-digits</validate>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>The number of values each facet can display. Default value is 10.</comment>
                        </max_values_per_facet>
                        <remove_branding translate="label comment">
                            <label>Remove branding logo</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Choose here if the algolia logo is added to the drop-down template.</comment>
                        </remove_branding>
                        <add_to_cart_enable translate="label comment">
                            <label>Add to Cart</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>80</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Choose here if you want to add an "add to cart" button in the template.</comment>
                        </add_to_cart_enable>
                    </fields>
                </ui>
                <queue translate="label">
                    <label>Queue Configuration</label>
                    <expanded>1</expanded>
                    <frontend_type>text</frontend_type>
                    <sort_order>70</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <active translate="label">
                            <label>Queue Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>
                                <![CDATA[
                                If enabled, all indexing operations (add, remove & update operations) will be done asynchronously using the CRON mechanism.<br />
                                <span style="color: #D83900">&#9888;</span> Enabling this option is recommended in production or if your store has a lot of products.
                                ]]>

                            </comment>
                        </active>
                        <retries translate="label comment">
                            <label>Max Retries</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Number of retries before giving up on unexpected errors.</comment>
                            <depends><active>1</active></depends>
                        </retries>
                        <number_of_element_by_page translate="label comment">
                            <label>Max number of products by indexing job</label>
                            <frontend_type>text</frontend_type>
                            <validate>validate-digits</validate>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>The max number of products by indexing job. Default value is 100.</comment>
                        </number_of_element_by_page>
                        <number_of_job_to_run translate="label comment">
                            <label>Number of jobs to run each time the cron is run</label>
                            <frontend_type>text</frontend_type>
                            <validate>validate-digits</validate>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Number of jobs to run each time the cron is run. Default value is 300.</comment>
                            <depends><active>1</active></depends>
                        </number_of_job_to_run>
                    </fields>
                </queue>
            </groups>
        </algoliasearch>
    </sections>
</config>
