
// Breakpoints
$bp-huge: 2000px;
$bp-big: 1440px;
$bp-medium: 960px;
$bp-small: 768px;

// Dimensions
$max-container-width: 940px;
$navigation-height: 50px;
$margin: 16px;

// Fonts
$font-name: "Raleway";
$font-fallback: Helvetica Neue, helvetica;
$font-settings:  $font-name, $font-fallback;

$font-family-sans-serif: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

$font-size-base: 16px;
$line-height-base: 26px;
$line-height-computed: 26px;

$headings-font-family: $font-name;
$headings-font-weight: 300;


// Colors
$red-pink: #fb366e;
$steel: #788795;
$black: #0a1724;
$white-75: rgba(white, 0.75);
$brand-primary: transparent;
$magento-orange: #F06721;
$magento-color: #de7222; // A slightly different orange, less punchy.
$btn-primary-border: $magento-orange;
$brand-info: #7183a7;
$btn-info-border: #becce0;
$btn-info-bg: #eceff3;
$btn-info-color: #7183a7;
$text-color: rgba(black, 0.75);
$anchor-offset: 100px;
$community-color: #674492;
$success-color: #58d158;
$gray-light: #f3f3f3;
$gray-lighter: #e5e5e5;
$dark-blue: #0d1d30;
$light-blue: lighten($dark-blue, 70%);
$secondary-color: green;
$link-color: $magento-orange;