.ac-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $navigation-height;
  padding: 0 16px;
  margin: 0;
  line-height: $navigation-height;
  color: #fff;
  background: $black;
  z-index: 101;
  font-family: $font-settings;
  box-sizing: border-box;

  a {
    color: #fff;
    text-decoration: none;
  }

  .ac-nav-container {
    width: 100%;
    height: $navigation-height;
    margin: auto;
    line-height: $navigation-height;

    @media (min-width: $bp-huge){
      max-width: calc(#{$max-container-width} + 260px)
    }

    @media (max-width: $bp-big){
      max-width: 100%
    }
  }


  .ac-nav-brand {
    float: left;
  }
  .ac-nav-menu {
    float: right;
  }

  .ac-logo {
    padding-left: 8px;
    font-size: 26px;
    font-weight: 100;
    vertical-align: sub;

    .ac-logo__lg,
    .ac-logo__sm {
      position: relative;
      top: -2px;
      width: 200px;
      margin-right: 6px;
      vertical-align: middle;

      &.ac-logo__sm {
        width: 34px;
        display: none;
        visibility: hidden;

        @media (max-width: 960px){
          display: inline-block;
          visibility: visible
        }
      }

      &.ac-logo__lg {
        @media (max-width: 960px){
          display: none;
        }
      }
    }
  }

  .ac-nav-brand-title {
    position: relative;
    font-size: 1em;
    font-weight: 300;
    vertical-align: middle;
  }

  .ac-nav-menu svg {
    position: relative;
    top: 6px;
    width: 28px;
    height: 36px;
    float: left;
  }

  .ac-nav-searchbox {
    float: left;
    width: auto;
    height: $navigation-height;

    .docsearch {
      display: inline-block;
      width: 36px;
      height: 36px;
      position: relative;
      margin-right: 8px;
      padding: 0 0px 0 34px;
      background: url('../img/icon-search-white.svg') transparent no-repeat center center;
      background-size: 15px;
      border: solid 2px rgba(#FFF, .5);
      border-radius: 40px;
      overflow: hidden;
      cursor: pointer;
      transition: width .2s ease;
      vertical-align: middle;
      outline: none;


      &:focus {
        width: 300px;
        background-position: center left 15px;
      }

      @media (max-width: 960px) {
        display: none;
      }
    }
  }

  .ac-nav-menu-list {
    padding: 0;
    margin: 0;
    float: left;
    list-style: none;

    @media (max-width: 960px) {
      display: none;
    }

    .ac-nav-menu-list-item,
    .ac-nav-menu-list-icon {
      float: left;
      padding: 0 14px;
      font-size: 14px;

      &.active {
        a {
          padding-bottom: 15px;
          border-bottom: 2px solid $red-pink;
        }
      }

      .ac-icon {
        height: 50px;
      }
    }
  }

  // Responsive nav
  select {
    display: none;
    visibility: hidden;
    position: absolute;
    top: 16px;
    right: 8px;

    &:not(.device) {
      background: linear-gradient(#efefef, #ccc);
      color: $black;
    }

    @media (max-width: 960px){
      display: inline-block;
      visibility: visible;
    }
  }



  .ac-nav-brand-breadcrumb {
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url('../img/icon-arrow-pipe.svg')no-repeat center center / contain;
    vertical-align: middle;
  }

  .ac-icon {
    display: inline-block;
    position: relative;
    width: 26px;
    height: 36px;
    margin: auto;
    vertical-align: sub;

    &.ac-icon-github {
      background: url('../img/icon-github.svg')no-repeat center center / contain
    }
  }
}