h2 {
  font-size: 1.8em;
  font-weight: normal;
  letter-spacing: 1px;
  margin-bottom: 1em; }

.headline {
  text-align: center;
}

.jumbotron {
  background: #F16721 url(../img/magento-logo.png) scroll 100% 80px no-repeat;
  color: white;
}

.headline:after {
  display: block;
  content: ' ';
  height: 10px;
  border-bottom: 2px solid $magento-orange;
  margin: 0 auto 1em auto;
  width: 30px;
}

.features {
  .row {
    margin-bottom: 1em;

    p {
      color: #BABDC6;
    }
  }

  .bubble {
    border: 10px solid rgba(243, 103, 5, .5);
    border-radius: 50%;
    width: 200px;
    height: 200px;
    overflow: hidden;

    img {
      width: 200%;
      margin-left: 10px;
    }
  }
}

.showcases {
  text-align: center;

  .showcase {
    display: block;
    border: 1px solid #ccc;
    -webkit-box-shadow: 6px 6px 6px -6px black;
       -moz-box-shadow: 6px 6px 6px -6px black;
            box-shadow: 6px 6px 6px -6px black;
    height: 200px;
    overflow: hidden;

    img {
      max-width: 100%;
    }

    &.fixme {
      width: 100%;
      height: 200px;
      background: #efefef;
      line-height: 200px;
      font-size: 2em;
    }
  }

}