


/* GENERAL
// ------------------------- */
h1 {
  font-size: 3.2em;
}
h2 {
  font-size: 1.8em;
  font-weight: normal;
  letter-spacing: 1px;
  margin-bottom: 1em;
}
.page-section {
  padding-top: 80px;
  padding-bottom: 70px;
}
.headline {
  text-align: center;
  font-size: 1.8em;
  margin-top: 0;

  &:after {
    display: block;
    content: ' ';
    height: 20px;
    border-bottom: 4px solid $magento-orange;
    margin: 0 auto 1em auto;
    width: 50px;
  }
}



/* JUMBOTRON
// ------------------------- */
.jumbotron {
  h1 {
    font-size: 2.2em;
    text-align: center;
    padding: 0;
    margin: 0;

    img.jumbotron-algolia_logo {
      height: 1.2em;
      position: relative;
      top: -0.1em;
      margin-right: 8px;
    }

    img.jumbotron-magento_logo {
      height: 1.8em;
      position: relative;
      top: -0.05em;
      margin-left: 8px;
    }
  }

  p {
    font-size: 1em;
    line-height: 1.3;
  }

  .latest-version {
    text-align: center;
    font-size: 1em;
    margin: 0.5em 0 1.2em;
  }

  .buttons {
    text-align: center;
    margin-bottom: 40px;
    text-transform: uppercase;
  }
  .badges {
    text-align: center;
    img {
      vertical-align: top;
    }
  }
}



/* THE WHY
// ------------------------- */
.the-why p {
  font-size: 1.2em;
  font-family: $headings-font-family;
  line-height: 1.5;
}



/* INTEGRATE
// ------------------------- */
.integrate {
  padding-top: 0;

  p {
    position: relative;
    top: 50px;
  }
}



/* DEMOS
// ------------------------- */
.demos {
  background: #F5F5F9;
  .demo {
    margin-bottom: 40px;
    &:last-child {
      margin-bottom: 0;
    }

    .icon {
      width: 46px;
    }
    h3 {
      font-size: 1.2em;
      font-weight: bold;
    }
  }
}



/* FEATURES
// ------------------------- */
.features {
  .feature {
    margin-bottom: 50px;

    h3 {
      font-size: 18px;
      font-weight: bold;
    }

    p {
      color: #3f3f3f;
    }
  }

  .bubble-outer {
    border: 1px solid #e5edef;
    border-radius: 50%;
    width: 192px;
    height: 192px;
    border-radius: 50%;
    float: left;
    margin-right: 20px;
    clear: both;
  }

  .bubble {
    border: 10px solid rgba(248, 253, 255, 0.78);
    border-radius: 50%;
    width: 190px;
    height: 190px;
  }

  .bubble-inner {
    border: 1px solid #e5edef;
    border-radius: 50%;
    width: 168px;
    height: 168px;
    border-radius: 50%;
    overflow: hidden;

    img {
      width: 200%;
      margin-left: 10px;
    }
  }

  .github {
    text-align: center;

    h3 {
      font-size: 18px;
      text-transform: uppercase;
      font-weight: normal;
    }

    i {
      font-size: 60px;
      color: #e5e5e5;
    }
  }

}



/* SHOWCASES
// ------------------------- */
.showcases {
  background: $dark-blue;
  text-align: center;
  font-weight: 300;
  color: #FFF;

  .showcase {
    display: inline-block;
    height: 323px;
    overflow: hidden;

    img {
      max-width: 100%;
    }

    &.fixme {
      color: #666;
      width: 350px;
      height: 323px;
      border: #666 4px dashed;
      line-height: 323px;
      font-size: 2em;
    }
  }

  .showcase-link, .showcase-join {
    display: inline-block;
    font-size: 1.1em;
    margin-top: 8px;
    margin-bottom: 10px;
    color: #FFF;
  }
  .showcase-link:hover {
    color: $magento-orange;
    text-decoration: none;
  }
}

