$colors: (
  white: #fff,
  black: #000,
  grey: #e5e5e5,
  blue: #1990C1,
  orange: #F66350
);

svg.ac-icon {

  @each $name, $color in $colors {
    .icon-#{$name} {
      fill: $color;
    }

    .icon-stroke-#{$name} {
      stroke: $color
    }
  }
}