.hero-header {
  min-height: 700px;
  height: 100%;
  width: 100%;
  color: $magento-color;
  position: relative;
  background-blend-mode: hard-light;
  border-bottom: 2px solid $magento-color;

  img {
    max-width: 220px;
  }

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1NiIgaGVpZ2h0PSIxMDAiIG9wYWNpdHk9IjAuNCI+CjxyZWN0IHdpZHRoPSI1NiIgaGVpZ2h0PSIxMDAiIGZpbGw9InRyYW5zcGFyZW50Ij48L3JlY3Q+CjxwYXRoIGQ9Ik0yOCA2NkwwIDUwTDAgMTZMMjggMEw1NiAxNkw1NiA1MEwyOCA2NkwyOCAxMDAiIGZpbGw9Im5vbmUiIHN0cm9rZT0iI2ZmZiIgc3Ryb2tlLXdpZHRoPSIyIj48L3BhdGg+CjxwYXRoIGQ9Ik0yOCAwTDI4IDM0TDAgNTBMMCA4NEwyOCAxMDBMNTYgODRMNTYgNTBMMjggMzQiIGZpbGw9Im5vbmUiIHN0cm9rZT0iI2ZmZiIgc3Ryb2tlLXdpZHRoPSIyIj48L3BhdGg+Cjwvc3ZnPg==")repeat center center / 22px,
    linear-gradient(to bottom right,mix( $magento-color, #fff, 75%),  $magento-color 50%, mix( #FFF, #000, 100%) 50%, mix( #FFF, #000, 82%));
    background-blend-mode: soft-light;
    z-index: 5;
  }
}
.magento-1,
.magento-2 {
  float: left;
  width: 50%;
  padding: 2em 0;
  position: relative;
  z-index: 10;
}
.magento-1 {
  p,h1,h2,h3,.latest-version {
    color: #fff !important
  }
}

.magento-2 {
  top: 290px;

  h1 {
    color: #000
  }

  .btn {
  }
}


@media (max-width: $bp-medium) {
  .hero-header:before {
      background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1NiIgaGVpZ2h0PSIxMDAiIG9wYWNpdHk9IjAuNCI+CjxyZWN0IHdpZHRoPSI1NiIgaGVpZ2h0PSIxMDAiIGZpbGw9InRyYW5zcGFyZW50Ij48L3JlY3Q+CjxwYXRoIGQ9Ik0yOCA2NkwwIDUwTDAgMTZMMjggMEw1NiAxNkw1NiA1MEwyOCA2NkwyOCAxMDAiIGZpbGw9Im5vbmUiIHN0cm9rZT0iI2ZmZiIgc3Ryb2tlLXdpZHRoPSIyIj48L3BhdGg+CjxwYXRoIGQ9Ik0yOCAwTDI4IDM0TDAgNTBMMCA4NEwyOCAxMDBMNTYgODRMNTYgNTBMMjggMzQiIGZpbGw9Im5vbmUiIHN0cm9rZT0iI2ZmZiIgc3Ryb2tlLXdpZHRoPSIyIj48L3BhdGg+Cjwvc3ZnPg==")repeat center center / 22px,
    linear-gradient(to bottom,mix( $magento-color, #fff, 75%),  $magento-color 50%, mix( #FFF, #000, 100%) 50%, mix( #FFF, #000, 82%));
  }

  .magento-1,
  .magento-2 {
    float: left;
    width: 100%;
    padding: 0;
    position: relative;
    z-index: 10;
  }

  .magento-2 {
    top: 100px;
  }
}