body, p, h1, h2, h3 {
  line-height: 1.5em;
}

h1[id]:before, h2[id]:before, h3[id]:before, h4[id]:before {
  content: " ";
  display: block;
  height: $navbar-height;
  margin-top: -$navbar-height;
}
