.main-content {
  margin-top: $navbar-height;
}

h1[id]:before, h2[id]:before, h3[id]:before, h4[id]:before {
  content: " ";
  display: block;
  height: $navbar-height;
  margin-top: -$navbar-height;
}

.menu {
  position: fixed;
  top: 100px;
  width: 200px;
  list-style-type: none;
  font-size: .8em;
  a {
    display: block;
    padding: 2px 5px;
    border-bottom: 1px solid #ccc;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    li ul a {
      &:before {
        content: "\f101 ";
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        margin: 0 5px;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
      padding-left: 10px;
    }
  }
}

.documentation-content {
  h1 {
    margin-top: 50px;
    &:after {
      display: block;
      content: ' ';
      height: 10px;
      border-bottom: 1px solid $magento-orange;
      margin: 0 auto 1em auto;
    }
  }

  h2 {
    margin-top: 2em;
  }

  h3 {
    font-size: 1.4em;
    font-weight: bold;
  }

  h4 {
    font-size: 1em;
    font-weight: bold;
    text-decoration: underline;
  }

}

.faq {
  p, li, figure {
    width: 80ch;
    font-size: 15px;
  }
  h2 {
    border-bottom: 1px solid $magento-orange;
    margin-top: 2em;
    //&:before {
    //  content: "\f29c";
    //  display: inline-block;
    //  font: normal normal normal 14px/1 FontAwesome;
    //  font-size: inherit;
    //  margin-right: 8px;
    //  text-rendering: auto;
    //  -webkit-font-smoothing: antialiased;
    //  -moz-osx-font-smoothing: grayscale;
    //}
  }
}

figure {
  margin: 30px 0;
  figcaption {
    text-align: center;
    font-style: italic;
    font-size: 0.9em;
  }
}