@import "docsearch/variables";
@import "docsearch/dropdown";
@import "docsearch/searchbox";

$searchbox: true!default;

@if($searchbox == true){
  @include searchbox($searchbox-config...);
}

@include dropdown($dropdown-config...);

.algolia-autocomplete .ds-dropdown-menu  {
  line-height: 32px;
}

.algolia-autocomplete .ds-dropdown-menu [class^="ds-dataset-"] {
  min-width: 500px;
  padding: 0;
}
.algolia-autocomplete .algolia-docsearch-suggestion {
  padding: 0 !important;
}

.algolia-autocomplete .algolia-docsearch-suggestion.algolia-docsearch-suggestion__secondary .algolia-docsearch-suggestion--subcategory-column {
  display: none !important;
}

.algolia-autocomplete .algolia-docsearch-suggestion--content:before {
  display: none !important;
}

.algolia-autocomplete .algolia-docsearch-suggestion--content {
  width: 100% !important;
  padding: 0 6px;
}

.algolia-autocomplete .algolia-docsearch-suggestion--wrapper {
  padding: 0 !important;
  margin-bottom: 6px;
}

.algolia-autocomplete .algolia-docsearch-suggestion--text {
  line-height: 1.5;
  padding: 0 16px;
}

.algolia-autocomplete .algolia-docsearch-suggestion--category-header {
    font-weight: 600;
    width: calc(100% - 32px) !important;
    margin-left: 16px !important;
    padding: 0 !important;
}

.algolia-docsearch-suggestion--title {
  font-weight: 600;
  color: rgba(black, 0.7) !important;
  margin-left: -6px;
  padding: 0 16px;
}

.algolia-autocomplete .algolia-docsearch-footer--logo {
  float: right;
  margin: -4px 8px;
}