/******************
**
** Helper
**
******************/

.clearfix:after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.text-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
    text-overflow: ellipsis;
}

/******************
**
** Auto-completion menu
**
******************/

.twitter-typeahead
{
    width: 100%;
}

.tt-dropdown-menu {
    background: white;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100%;
    z-index: 1000 !important;
    border-bottom: 1px solid #DDD;
}

.tt-dropdown-menu .category {
    background-color: #F5F5F5;
    text-align: left;
    border: 1px solid #DDD;
    padding: 5px;
}

.tt-dropdown-menu .tt-suggestion:not(:last-child) .algoliasearch-autocomplete-hit
{
    border-bottom: solid 1px #DDD;
}

.tt-dropdown-menu .algoliasearch-autocomplete-hit {
    display: block;
    text-decoration: none;
    clear: both;
    text-align: left;
    padding: 10px 10px;
    border-left: solid 1px #DDD;
    border-right: solid 1px #DDD;
    color: #000;
}

.tt-dropdown-menu .tt-cursor {
    background-color: #FAFAFA;
}

.tt-dropdown-menu .algoliasearch-autocomplete-hit em {
    font-weight: bold;
    font-style: normal;
}

.tt-dropdown-menu .category {
    color: #666;
    font-weight: bold;
}

.tt-dropdown-menu .algoliasearch-autocomplete-price {
    float: right;
    color: black;
    font-size: 1.3em;
}

.tt-dropdown-menu .algoliasearch-autocomplete-hit .thumb {
    float: left;
}

.tt-dropdown-menu .algoliasearch-autocomplete-hit .thumb img {
    width: 50px;
}

.tt-dropdown-menu .algoliasearch-autocomplete-hit .info {
    margin-left: 60px;
}

.tt-dropdown-menu .algoliasearch-autocomplete-hit .info .algoliasearch-autocomplete-category {
    font-size: 0.8em;
    color: #666;
}

.tt-dropdown-menu .footer_algolia {
    background-color: #F5F5F5;
    text-align: right;
    padding: 5px;
    font-size: 0.8em;
    border-left: 1px solid #DDD;
    border-right: 1px solid #DDD;
}

.tt-dropdown-menu .footer_algolia img {
    height: 1.5em;
    display: inline;
    vertical-align: bottom;
}


/**
 * Instant Search
 */

#algolia_instant_selector
{
    margin: 10px;
}

#algolia_instant_selector:after
{
    content: ' ';
    clear: both;
    display: block;
}

#algolia_instant_selector .category
{

}

#algolia_instant_selector .result-wrapper
{
    float: left;
    width: 33.33%;
}

#algolia_instant_selector .title
{

}

#algolia_instant_selector .title img
{
    width: 200px;
}

#algolia_instant_selector .hits.with_facets
{
    float: left;
    width: 80%;
}

#algolia_instant_selector .hits .infos
{
    margin: 0 10px;
    padding: 5px;
    background-color: #F5F5F5;
    text-align: center;
    border: solid 1px #DDD;
}

#algolia_instant_selector .hits .infos .clear-button
{
    cursor: pointer;
}

/**
 * Facets
 */

#algolia_instant_selector .infos .algolia-logo
{
    font-size: 10px;
}

#algolia_instant_selector .facets.with_facets
{
    float: left;
    width: 20%;
}

#algolia_instant_selector .facet
{
    border: solid 1px #DDD;
    background-color: white;
}

#algolia_instant_selector .facet:not(:first-child)
{
    margin-top: 10px;
}

#algolia_instant_selector .facet .name
{
    padding: 5px;
    background-color: #F5F5F5;
    border-bottom: 1px solid #DDD;
    text-transform: uppercase;
}

#algolia_instant_selector .facet .sub_facet
{
    padding: 10px 10px 3px 10px;
    cursor: pointer;
}

#algolia_instant_selector .facet .sub_facet.checked
{
    background-color: #FAFAFA;
}

#algolia_instant_selector .facet .conjunctive .count, #algolia_instant_selector .facet .disjunctive .count
{
    float: right;
    color: #666;
}


#algolia_instant_selector .facet .sub_facet:not(:last-child)
{
    border-bottom: 1px dotted #F5F5F5;
}

#algolia_instant_selector .algolia-slider
{
    margin: 15px;
}

#algolia_instant_selector .algolia-slider-info
{
    margin: 10px 5px;
}

#algolia_instant_selector .pagination-wrapper
{
    width: 100%;
}

#algolia_instant_selector .pagination-wrapper.with_facets
{
    width: 80%;
    margin-left: 20%;
}

#algolia_instant_selector .algolia-pagination
{
    display: inline-block;
    background-color: transparent;
    border: none;
    box-shadow: none;
}

#algolia_instant_selector .algolia-pagination li
{
    float: left;
    display: inline;
    border: solid 1px #DDD;
    padding: 0px 10px;
    margin: 0 5px;
    line-height: 25px;
    background-color: white;
}

#algolia_instant_selector .algolia-pagination li.active
{
    background-color: #F5F5F5;
}

#algolia_instant_selector .algolia-pagination li.disabled
{
    display: none;
}

#algolia_instant_selector .text-center
{
    text-align: center;
}

#algolia_instant_selector em
{
    background-color: #c1d8e6;
    font-style: normal;
}

#algolia_instant_selector h1
{
    margin: 0;
}

#algolia_instant_selector .result
{
    border: solid 1px #dddddd;
    background-color: white;
    margin: 20px 10px;
}

#algolia_instant_selector .result .result-sub-content
{
    padding: 10px;
}

#algolia_instant_selector .result .result-thumbnail
{
    text-align: center;
    padding: 10px;
}

#algolia_instant_selector .result .result-thumbnail img {
    height: 148px;
}

#algolia_instant_selector .result .result-thumbnail .no-image {
    display: block;
    height: 148px;
    background: #FAFAFA;
}

#algolia_instant_selector .result .ratings .rating-box {
    margin: 0 auto;
    float: inherit;
}

#algolia_instant_selector .result .result-description
{
}

#algolia_instant_selector .result .price
{
    text-align: center;
    font-size: 2em;
    color: #666;
}

#algolia_instant_selector .result .result-title
{
    text-align: center;
}

#algolia_instant_selector .result .result-title a, #algolia_instant_selector .result .result-title a:hover {
    color: black;
}

#algolia_instant_selector .ui-widget-header {
    background-color: #bcbcbc;
}

#algolia_instant_selector .result-thumbnail img
{
    width: 100%;
}