.algoliasearch-autocomplete {
    background: white;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 30px;
    width: 100%;
    border-bottom: solid 1px #DDDDDD;
}

.algoliasearch-autocomplete-title {
    background-color: #F5F5F5;
    text-align: center;
    border: 1px solid #dddddd;
    padding: 5px 0;
}

.algoliasearch-autocomplete-hit:not(:first-child):not(:last-child)
{
    border-bottom: solid 1px #DDDDDD;
}

.algoliasearch-autocomplete-hit {
    display: block;
    text-decoration: none;
    clear: both;
    text-align: left;
    padding: 10px 10px;
    border-left: solid 1px #DDDDDD;
    border-right: solid 1px #DDDDDD;
    color: #000000;
}

.algoliasearch-autocomplete-hit:hover {
    background-color: #E5E5E5;
    color: black;
}

.algoliasearch-autocomplete-hit.marked {
    background-color: #E5E5E5;
    color: black;
}

.algoliasearch-autocomplete-hit em {
    font-weight: bold;
    font-style: normal;
}

.algoliasearch-autocomplete-category {
    color: #666666;
}

.algoliasearch-autocomplete-hit .thumb {
    float: left;
}

.algoliasearch-autocomplete-hit .thumb img {
    width: 50px;
}

.algoliasearch-autocomplete-hit .info {
    margin-left: 60px;
}

.algoliasearch-autocomplete-hit .clearfix:after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}
