---
layout: default
navbar-brand-class: auto-hide
---

.main-content
  .hero-header.jumbotron#install
    .container
      .magento-1
        %h1
          %img.jumbotron-algolia_logo{:src => "{{site.baseurl}}/img/logo-algolia-bw-dark-nobg.svg"}/
          for
          %img.jumbotron-magento_logo{:src => "http://res.cloudinary.com/hilnmyskv/image/upload/v1470238602/magento-white-logo-white_ngqfvg.svg"}/
          %span.vnum 1
        .row
          .col-md-12.text-center
            %p As-You-Type Auto-Complete and Instant Search Results Page, all Customizable & Open-Source.
        .latest-version
          Latest version:
          %b 1.6.1
        .buttons
          %a.btn.btn-white{:href => "https://magento.algolia.com"}
            Try it live
          %a.btn.btn-white.install{:href => "http://www.magentocommerce.com/magento-connect/algolia-search-extension.html"}
            Install the extension now
        .badges
          <iframe src="https://ghbtns.com/github-btn.html?user=algolia&repo=algoliasearch-magento&type=star&count=true" frameborder="0" scrolling="0" width="100px" height="20px"></iframe>
          %img{src: 'https://img.shields.io/badge/magento-1.6.2%2B-blue.svg', :title => "Magento versions supported"}

      .magento-2
        %h1
          %img.jumbotron-algolia_logo{:src => "{{site.baseurl}}/img/logo-algolia-bw-nobg.svg"}/
          for
          %img.jumbotron-magento_logo{:src => "http://res.cloudinary.com/hilnmyskv/image/upload/v1470148513/magento-black_gxoagf.svg"}/
          %span.vnum 2
        .row
          .col-md-12.text-center
            %p As-You-Type Auto-Complete and Instant Search Results Page, all Customizable & Open-Source.
        .latest-version
          Latest version:
          %b 1.0.0
        .buttons
          %a.btn{:href => "https://magento.algolia.com", :disabled => "true"}
            Try it live
          %a.btn.install{:href => "https://github.com/algolia/algoliasearch-magento-2"}
            Install the extension now

        .badges
          <iframe src="https://ghbtns.com/github-btn.html?user=algolia&repo=algoliasearch-magento-2&type=star&count=true" frameborder="0" scrolling="0" width="100px" height="20px"></iframe>

  .page-section.the-why
    .container
      %h1.headline Build Unique Shopping Experiences
      .row
        .col-sm-8.col-sm-offset-2.text-center
          %p With Algolia's as-you-type search customers think less about how to search and more about what they find. Serve relevant content from the first keystroke.

  .page-section.integrate
    .container
      .row
        .col-sm-4.col-sm-offset-1
          %img.img-responsive.m-l-r-auto{src: '{{site.baseurl}}/img/ecommerce-search.svg'}
        .col-sm-6
          %p <b>Integrate in minutes</b> the Magento default search with Algolia's instant search and increase the conversion rates of your e-commerce site.
          %p Algolia’s Search Magento Extension makes it easy to deliver a <b>lightning fast search experience</b> to your End-Users.


  .page-section.demos
    .container
      .col-md-12
        .row.demo
          .col-sm-5.mobile-only
            %svg.ac-icon
              %use{'xlink:href' => '#illu-autocomplete', :class => "icon-stroke-white"}
            %h3 Product & Category Autocomplete
            %p Offer End-Users immediate access to your whole catalog from the dropdown menu, whatever your number of categories or attributes.
          .col-sm-7
            %img.img-responsive.m-l-r-auto{src: '{{site.baseurl}}/auto-complete.gif'}
            %img.img-responsive.m-l-r-auto{src: '{{site.baseurl}}/m2-autocomplete.gif'}
          .col-sm-5.desktop-only
            %svg.ac-icon
              %use{'xlink:href' => '#illu-autocomplete', :class => "icon-stroke-white"}
            %h3 Product & Category Autocomplete
            %p Offer End-Users immediate access to your whole catalog from the dropdown menu, whatever your number of categories or attributes.

        .row.demo
          .col-sm-5.text-right
            %svg.ac-icon
              %use{'xlink:href' => '#illu-faceting', :class => "icon-stroke-white"}
            %h3 Instant & Faceted search
            %p Have your search results page, navigation and pagination updated in realtime, after each keystroke.
          .col-sm-7
            %img.img-responsive.m-l-r-auto{src: '{{site.baseurl}}/instant-search.gif'}
            %img.img-responsive.m-l-r-auto{src: '{{site.baseurl}}/m2-instantsearch.gif'}


  .page-section.features
    .container
      %h1.headline Features
    .container
      .row
        .row.col-md-6
          .col-md-8.col-sm-9.text-right
            %svg.ac-icon
              %use{'xlink:href' => '#illu-fast-relevance', :class => "icon-stroke-blue"}
            %h3 Relevance
            %p Increase customer satisfaction by serving relevant results. If a user can't find a product, they won't buy it!
          .col-md-4.col-sm-3.hidden-xs
            .bubble
              %img{:src => "{{site.baseurl}}/img/relevant.png"}/
        .row.col-md-6
          .col-md-4.col-sm-3.hidden-xs
            .bubble
              %img{:src => "{{site.baseurl}}/img/speed.png"}/
          .col-md-8.col-sm-9
            %svg.ac-icon
              %use{'xlink:href' => '#illu-rocket', :class => "icon-stroke-blue"}
            %h3 Speed
            %p Deliver lightning fast results to your customers, anywhere in the world thanks to our distributed search network.
      .row
        .row.col-md-6
          .col-md-8.col-sm-9.text-right
            %svg.ac-icon
              %use{'xlink:href' => '#illu-typo-tolerance', :class => "icon-stroke-blue"}
            %h3 Typo Tolerance
            %p Have your search results page, navigation and pagination updated in realtime, after each keystroke.
          .col-md-4.col-sm-3.hidden-xs
            .bubble
              %img{:src => "{{site.baseurl}}/img/typos.png"}/
        .row.col-md-6
          .col-md-4.col-sm-3.hidden-xs
            .bubble
              %img{:src => "{{site.baseurl}}/img/faceting.png"}/
          .col-md-8.col-sm-9
            %svg.ac-icon
              %use{'xlink:href' => '#illu-faceting', :class => "icon-stroke-blue"}
            %h3 Instant Faceting
            %p Our code is open-source and hosted on GitHub, feel free to customize it.

      .row
        .row.col-md-6
          .col-md-8.col-sm-9.text-right
            %svg.ac-icon
              %use{'xlink:href' => '#illu-analytics', :class => "icon-stroke-blue"}
            %h3 Analytics
            %p From a simple dashboard, get valuable information on how your customers are searching and what they're searching for.
          .col-md-4.col-sm-3.hidden-xs
            .bubble
              %img{:src => "{{site.baseurl}}/img/analytics.png"}/
        .row.col-md-6
          .col-md-4.col-sm-3.hidden-xs
            .bubble
              %img{:src => "{{site.baseurl}}/img/auto-sync.png"}/
          .col-md-8.col-sm-9
            %svg.ac-icon
              %use{'xlink:href' => '#illu-sync', :class => "icon-stroke-blue"}
            %h3 Catalog Auto-Sync
            %p Benefit from realtime indexing that instantly captures product additions, price changes, etc. No matter server performance.



      .row
        .col-sm-4.col-sm-offset-4.github
          %svg.ac-icon.m-l-r-auto
            %use{'xlink:href' => '#github-icon', :class => 'icon-grey'}
          %h3 Open source
          %p
            Make it look like anything you want!
            %br/
            Open-source, available on Github.
            %br/
            [ <a href="github.com/algolia/algoliasearch-magento">Magento 1</a> , <a href="github.com/algolia/algoliasearch-magento-2">Magento 2</a> ]


  .page-section.showcases
    .container
      %h1.headline Showcase
      .row
        .col-sm-4
          %a{href: 'http://www.whisky.fr'}
            %h4 whisky.fr
          %a.showcase{href: 'http://www.whisky.fr'}
            %img.img-responsive{src: '{{site.baseurl}}/img/maison-du-whisky-screen.png'}
          %br
          %ul
            %li Autocomplete menu
            %li Instant search results page

        .col-sm-4
          %a{href: 'http://www.beyondretro.com/'}
            %h4 Beyondretro
          %a.showcase{href: 'http://www.beyondretro.com/'}
            %img.img-responsive{src: '{{site.baseurl}}/img/beyond-retro-screen.png'}
          %br
          %ul
            %li Autocomplete menu
            %li Instant search results page
            %li Category listings

        .col-sm-4
          %a{href: 'http://www.whoopey.com'}
            %h4 Whoopey
          %a.showcase{href: 'http://www.whoopey.com'}
            %img.img-responsive{src: '{{site.baseurl}}/img/whoopey-screen.png'}
          %br
          %ul
            %li Autocomplete menu
            %li Instant search results page

        .col-sm-4
          %a{href: 'http://www.beyondretro.com/'}
            %h4 Yakima
          %a.showcase{href: 'http://www.beyondretro.com/'}
            %img.img-responsive{src: '{{site.baseurl}}/img/yakima-screen.png'}
          %br
          %ul
            %li Search by vehicles feature

        .col-sm-4
          %a{href: 'http://filson.com/'}
            %h4 Filson
          %a.showcase{href: 'http://filson.com/'}
            %img.img-responsive{src: '{{site.baseurl}}/img/filson-screen.png'}
          %br
          %ul
            %li Autocomplete menu
            %li Instant search results page

        .col-sm-4
          %a{href: 'http://skymall.com/'}
            %h4 Skymall
          %a.showcase{href: 'http://skymall.com/'}
            %img.img-responsive{src: '{{site.baseurl}}/img/skymall-screen.png'}
          %br
          %ul
            %li Instant search

        .col-sm-4
          %a{href: 'http://lancaster.com/'}
            %h4 Lancaster
          %a.showcase{href: 'http://lancaster.com/'}
            %img.img-responsive{src: '{{site.baseurl}}/img/lancaster-screen.png'}
          %br
          %ul
            %li Instant search

        .col-sm-4
          %a{href: 'http://chromeindustries.com/'}
            %h4 Chrome Industries
          %a.showcase{href: 'http://chromeindustries.com/'}
            %img.img-responsive{src: '{{site.baseurl}}/img/chrome-screen.png'}
          %br
          %ul
            %li Autocomplete menu
            %li Instant search results page
            %li Category listings

        .col-sm-4
          %a{:href => "#install"}
            .showcase.fixme You?
