.algoliasearch-queue-notification {
	background: #e9f3ff url(/skin/frontend/base/default/algoliasearch/algolia-admin-menu.svg) no-repeat 27px 5px;
	background-size: 16px 16px;
	border-color: #bee1ee;
}
