.algoliasearch-queue-notification {
	background: #e9f3ff url(/skin/frontend/base/default/algoliasearch/algolia-admin-menu.svg) no-repeat 27px 5px;
	background-size: 16px 16px;
	border-color: #bee1ee;
}

.algoliasearch-head-icon {
	background: url(/skin/frontend/base/default/algoliasearch/algolia-admin-menu.svg) no-repeat;
	background-size: 16px 16px;
}

.algolia-notice {
	border: 1px solid #dfdfdf;
	background-position: 10px 10px;
	padding-left: 35px;
	padding-top: 10px;
	margin-bottom: 1rem;
	color: #333;
	font-size: 13px;
}